/* fonte */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*  */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    min-height: 100vh;
    background: hsl(240, 78%, 98%);
  }

  .border-b {
    border-bottom: 1px solid #e5e7eb;
    width: 100%;
  }

  .linearGradient {
    background: linear-gradient(to right, #a3a8f0, #696fdd);
  }

  ul > li {
    backface-visibility: hidden;
  }
}

@layer utilities {
  .isVisible {
    @apply relative z-50 transition-all duration-500;
  }

  .isHidden {
    @apply absolute top-0 left-0 h-full w-full z-10 transition-all duration-500;
    transform: rotateY(180deg);
  }

  .btnHover {
    border: 1px solid black;
  }

  .btnHover:hover {
    background: transparent;
    color: #696fdd;
  }
}
